<%= form_for @farm, :html => { :class => 'form-horizontal' } do |f| %>

  <% if @farm.errors.present? %>
    <div class="alert alert-error">
      <% @farm.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <fieldset>
    <legend>Basic information</legened>
  </fieldset>

  <div class='row'>
    <div class='span5'>
      <div class="control-group">
        <%= f.label :name, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :name, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :type_of_farm, :class => 'control-label' %>
        <div class="controls">
          <%= select_tag "search", options_for_select(Farm::FARM_TYPES.collect{|m| [m.titleize, m]}) %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :volunteers_needed, :class => 'control-label' %>
        <div class="controls">
          <%= f.check_box :volunteers_needed, :class => 'check_box' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :website, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :website, :class => 'text_field' %>
        </div>
      </div>
    </div>

    <div class='span5'>
      <div class="control-group">
        <%= f.label :street, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :street, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :city, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :city, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :state, :class => 'control-label' %>
        <div class="controls">
          <%= subregion_select(:order, :state, 'US') -%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :zip, :class => 'control-label' %>
        <div class="controls">
          <%= f.number_field :zip, :class => 'number_field' %>
        </div>
      </div>      
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                farms_path, :class => 'btn' %>
  </div>
<% end %>
