<%- model_class = Farm -%>
<div class="page-header">
  <h1><%=t 'farm_search', :default => model_class.model_name.human.pluralize %></h1>
</div>
<div class='row'>
  <div class='span2 well'>
    <form class='form-horizontal'>
      <label class="checkbox">
        <input type="checkbox" id="inlineCheckbox1" value="option1">Community Gardens
      </label>
      <label class="checkbox">
        <input type="checkbox" id="inlineCheckbox2" value="option2">Farmers Markets
      </label>
    </form>
    <% if user_signed_in? %>
      <%= link_to new_farm_path, class: 'span2 create-tab' do -%>
        <%= image_tag('GardenSymbol.png', :atl => 'Add your garden') -%>
        Add a garden
      <% end %>

      <%= link_to new_market_path, class: 'span2 create-tab' do -%>
        <%= image_tag('MarketSymbol.png', :atl => 'Add your market') -%>
        Add a market
      <% end %>
    <% end %>
  </div>

  <div class='span6'>
    <%= render partial: 'map' -%>
    <br>
  </div>
</div>

<table class="table table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:type_of_farm) %></th>
      <th><%= model_class.human_attribute_name(:website) %></th>
    </tr>
  </thead>
  <tbody>
    <% @farms.each do |farm| %>
      <tr>
        <td><%= link_to farm.name, farm_path(farm) %></td>
        <td><%= farm.type_of_farm %></td>
        <td><%= farm.website %></td>
      </tr>
    <% end %>
  </tbody>
</table>
