<%- model_class = Farm -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal bodytext">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @farm.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:street) %>:</strong></dt>
  <dd><%= @farm.street %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @farm.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @farm.state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:zip) %>:</strong></dt>
  <dd><%= @farm.zip %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @farm.user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:crops) %>:</strong></dt>
  <dd><%= @farm.crops %></dd>
  <dt><strong><%= model_class.human_attribute_name(:growing_season) %>:</strong></dt>
  <dd><%= @farm.growing_season %></dd>
  <dt><strong><%= model_class.human_attribute_name(:size_in_acres) %>:</strong></dt>
  <dd><%= @farm.size_in_acres %></dd>
  <dt><strong><%= model_class.human_attribute_name(:type_of_farm) %>:</strong></dt>
  <dd><%= @farm.type_of_farm %></dd>
  <dt><strong><%= model_class.human_attribute_name(:website) %>:</strong></dt>
  <dd><%= @farm.website %></dd>
  <dt><strong><%= model_class.human_attribute_name(:hours_of_operation) %>:</strong></dt>
  <dd><%= @farm.hours_of_operation %></dd>
  <dt><strong><%= model_class.human_attribute_name(:volunteers_needed) %>:</strong></dt>
  <dd><%= @farm.volunteers_needed %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              farms_path, :class => 'btn'  %>
</div>
