<%= form_for @plant, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :type, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :best_location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :best_location, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :planting_instructions, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :planting_instructions, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :harvest_instructions, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :harvest_instructions, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :plant_with, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :plant_with, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dont_plant_with, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :dont_plant_with, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :watering, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :watering, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :pests, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :pests, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                plants_path, :class => 'btn' %>
  </div>
<% end %>
