<%- model_class = Plant -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:plant_type) %></th>
      <th><%= model_class.human_attribute_name(:best_location) %></th>
    </tr>
  </thead>
  <tbody>
    <% @plants.each do |plant| %>
      <tr>
        <td><%= link_to plant.name, plant_path(plant) %></td>
        <td><%= plant.plant_type %></td>
        <td><%= plant.best_location %></td>
      </tr>
    <% end %>
  </tbody>
</table>
