<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @plant.type %>
</p>

<p>
  <b>Name:</b>
  <%= @plant.name %>
</p>

<p>
  <b>Best location:</b>
  <%= @plant.best_location %>
</p>

<p>
  <b>Planting instructions:</b>
  <%= @plant.planting_instructions %>
</p>

<p>
  <b>Harvest instructions:</b>
  <%= @plant.harvest_instructions %>
</p>

<p>
  <b>Plant with:</b>
  <%= @plant.plant_with %>
</p>

<p>
  <b>Dont plant with:</b>
  <%= @plant.dont_plant_with %>
</p>

<p>
  <b>Watering:</b>
  <%= @plant.watering %>
</p>

<p>
  <b>Pests:</b>
  <%= @plant.pests %>
</p>


<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
