<%- model_class = Market -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:website) %></th>
      <th><%= model_class.human_attribute_name(:hours_of_operation) %></th>
    </tr>
  </thead>
  <tbody>
    <% @markets.each do |market| %>
      <tr>
        <td><%= link_to market.name, market %></td>
        <td><%= market.city %></td>
        <td><%= market.state %></td>
        <td><%= market.website %></td>
        <td><%= market.hours_of_operation %></td>
      </tr>
    <% end %>
  </tbody>
</table>
