<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Grow Lulo" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Grow Lulo" %>">

  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>

<body>
  <div id="main" role="main" class="container-narrow">
    <header class="navbar">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>

    <div class="content">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
    <footer class='footer'>
      <p class='muted'>Copyright Lulo - 2012</p>
    </footer>
  </div> <!--! end of .container -->

  <%= javascript_include_tag "application" %>
  <%= yield :footer_scripts -%>
</body>
</html>
